/*
 Bem Guidelines
*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
}

#side-bar {
    background-color: #242531;
    flex: 2;
    display: flex;
    flex-direction: column;
}

#side-bar > .profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#side-bar > .profile-wrapper > h4 {
    color: #fff;
    margin-bottom: 15px;
}

#side-bar > .profile-wrapper > p {
    color: #8a8892;
    margin-bottom: 5px;
}

#side-bar > .information-wrapper {
    background-color: #1f1f2b;
    flex: 1;
    margin-top: 20px;
    padding: 20px 30px;
}

#side-bar > 
.information-wrapper > 
.information-container {
    border-bottom-width: 2px;
    border-bottom-color: #8a8892;
    border-bottom-style: solid;
    padding-bottom: 20px;
}

#side-bar > 
.information-wrapper > 
.information-container > 
.information-row {
    display: flex;
    margin-bottom: 5px;
}

#side-bar > 
.information-wrapper > 
.information-container > 
.information-row > span {
    display: inline-block;
    flex: 1;
}

#side-bar > 
.information-wrapper > 
.information-container > 
.information-row > span:first-child
{
    color: #FFF;
}

#side-bar > 
.information-wrapper > 
.information-container > 
.information-row > span:last-child
{
    color: #8a8892;
    text-align: right;
}

#main {
    background-color: orange;
    flex: 10;
}

#main > .banner-wrapper {
    height: 412px;
    width: 100%;
    background-color: chocolate;
}

#right-menu {
    background-color: lightblue;
    flex: 1;
}

#user-profile {
    width: 100px;
    height: 100px;
    position: relative;
    margin-bottom: 15px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .progress {
    width: 100%;
    height: 20px;
}
.progress::-webkit-meter-optimum-value {
    background-color: red;
}
.progress::-webkit-meter-bar {
    border-radius: 0;
    background-color: yellow;
    padding: 0;
    border: 0;
} */

#user-profile > img {
    height: 100%;
    /* position: absolute; */
    /* left: 50%;
    transform: translate(-50%); */
}

#user-profile > .status-indicator {
    width: 20px;
    height: 20px;
    background-color: #f4c341;
    display: block;
    right: 5px;
    bottom: 5px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px #f4c341;
}

.technologies-wrapper, .skills-wrapper {
    padding: 20px 0px 20px 0px;
    border-bottom-color: #8a8892;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.skill-progress-wrapper {
    margin-bottom: 5px;
}

.skill-progress-wrapper label {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5px;
    left: 0px;
}

.skill-progress-wrapper label span {
    color: #FFF;
    font-size: 0.65rem;
}

.skill-progress-wrapper meter {
    width: 100%;
    height: 10px;
}

.skill-progress-wrapper meter::-webkit-meter-optimum-value {
    background-color: #f4c341;
}

.skill-progress-wrapper meter::-webkit-meter-bar {
    background-color: #191925;
    border-radius: 2px;
    border: 0;
}

.technologies-wrapper ul  li {
    list-style-type: none;
    color: #FFF;
    font-size: 0.65rem;
    margin-bottom: 5px;
}

.technologies-wrapper ul li i {
    color: #f4c341;
    margin-right: 5px;
}

.social-network-wrapper {
    background-color: #252531;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.social-network-wrapper a {
    color: #8a8892;
    text-decoration: none;
}